# ProjetoAgenda - Diretórios ignorados
ProjetoAgenda/accounts/__pycache__/


### ------------------------------------------------------------ ###
### ------------------------------------------------------------ ###
# Projeto Blog - diretórios ignorados

Projeto-Blog/categorias/__pycache__/
Projeto-Blog/categorias/migrations/

Projeto-Blog/comentarios/__pycache__/
Projeto-Blog/comentarios/migrations/

Projeto-Blog/publicacoes/__pycache__/
Projeto-Blog/publicacoes/migrations/

Projeto-Blog/.idea/
Projeto-Blog/blog/__pycache__/

Projeto-Blog/publicacoes/templatetags/__pycache__/

Projeto-Blog/virtual-env/
Projeto-Blog/db.sqlite3


# Projeto Blog - arquivos ignorados
Projeto-Blog/super_usuario.txt

### ------------------------------------------------------------ ###
